// FOOTER :: START
footer.footer
  .container
    .footer__wrapper
      .footer__grid
        .footer__left
          .footer__logo
            a(href="#")
              img(src="img/logo-footer.svg", alt="")
          a.footer__phone(href="tel:+88001001631") 8 800 100 16 31
          p Ежедневно с 8:00 до 20:00
          a.footer__map(href="https://yandex.ru/maps/-/CBBdfAAQsA" target="_blank") 
            span Москва, ул. Гиляровского, д, 47, стр. 5
        .footer__menu
          .footer__item
            .footer__item-head
              a(href="#") о проекте
              a.open-drop(href="#" js-open-drop) +
            .footer__drop
              a(href="#") описание
              a(href="#") преимущества
              a(href="#") схема работы
              a(href="#") партнерам
              a(href="#") награды
          .footer__item
            .footer__item-head
              a(href="#") технологии
              a.open-drop(href="#" js-open-drop) +
            .footer__drop
              a(href="#") каркасные дома
              a(href="#") дом тн
              a(href="#") энергоэффективность
              a(href="#") материалы
          .footer__item
            .footer__item-head
              a(href="#") наши дома
              a.open-drop(href="#" js-open-drop) +
            .footer__drop
              a(href="#") Типовые проекты
              a(href="#") строящиеся дома
              a(href="#") готовые дома
          .footer__item
            .footer__item-head
              a(href="#") подрядчики
              a.open-drop(href="#" js-open-drop) +
            .footer__drop
              a(href="#") каталог
              a(href="#") сертификация
              a(href="#") стать подрядчиком
              a(href="#") личный кабинет
          .footer__item
            .footer__item-head
              a(href="#") блог
              a.open-drop(href="#" js-open-drop) +
            .footer__drop
              a(href="#") сми о нас
              a(href="#") полезные статьи
              a(href="#") faq
              a(href="#") видео

          .footer__item
            .footer__item-head
              a(href="#") контакты
        
      .footer__polit
        p © 2017 ДОМ ТЕХНОНИКОЛЬ
        a(href="#")
          span Политика обработки персональных данных
      a.footer__minisol(href="#") Разработка сайта - MINISOL
      
// FOOTER :: END
