// FOOTER :: START
footer.footer
  .container
    .footer__wrapper
      .footer__left
        .footer__select
          select
            option(value="#" disabled selected) Сайты ТЕХНОНИКОЛЬ
            option(value="#") Сайты ТЕХНОНИКОЛЬ #2
            option(value="#") Сайты ТЕХНОНИКОЛЬ #3
            option(value="#") Сайты ТЕХНОНИКОЛЬ #4
          p © 2017 ДОМ ТЕХНОНИКОЛЬ
          a(href="#")
            span Политика обработки персональных данных
          a.footer__minisol(href="#") Разработка сайта - MINISOL
      .footer__right
        .footer__logo
          a(href="#")
            img(src="img/logo-footer.svg", alt="")
        a.footer__phone(href="tel:+88001001631") 8 800 100 16 31
        p Ежедневно с 8:00 до 20:00
        a.footer__map(href="https://yandex.ru/maps/-/CBBdfAAQsA" target="_blank") 
          span Москва, ул. Гиляровского, д, 47, стр. 5
      
// FOOTER :: END
