// HEADER :: START
header.header(data-aos='fade-down')
  .container
    .header__wrapper
      a.header__logotype(href="/homepage.html")
        img(src="img/logo-footer.svg", alt="")
      a.header__calc(href="#")
        img(src="img/calculator-2.svg", alt="")
        span рассчитать стоимость
      .header__menu
        .header__item
          a(href="#") о нас 
          .header__drop
            .header__drop-container
              a(href="#") описание
              a(href="#") преимущества
              a(href="#") схема работы
              a(href="#") партнерам
              a(href="#") награды
        .header__item
          a(href="#") технологии
          .header__drop
            .header__drop-container
              a(href="#") каркасные дома
              a(href="#") дом тн
              a(href="#") энергоэффективность
              a(href="#") материалы
        .header__item
          a(href="#") наши дома
          .header__drop
            .header__drop-container
              a(href="#") Типовые проекты
              a(href="#") строящиеся проекты
              a(href="#") готовые проекты
        .header__item
          a(href="#") подрядчики
          .header__drop
            .header__drop-container
              a(href="#") каталог
              a(href="#") стать подрядчиком
              a(href="#") сертификация
              a(href="#") личный кабинет
        .header__item
          a(href="/blog.html") блог
        .header__item
          a(href="/contacts.html") контакты
      a.header__tehno(href="#")
        img(src="img/tehnonikol.svg", alt="")
      .hamburger.hamburger--slider(js-hamburger)
        .hamburger-box
          .hamburger-inner

// HEADER :: END