// HEADER :: START
header.header(data-aos='fade-down')
  .container
    .header__wrapper
      a.header__logotype(href="/homepage.html")
        img(src="img/logo-footer.svg", alt="")
      a.header__calc(href="#")
        img(src="img/calculator-2.svg", alt="")
        span калькулятор
      .header__menu
        .header__item
          a(href="#") о нас 
          .header__drop
            .header__drop-container
              a(href="#") описание
              a(href="#") преимущества
              a(href="#") схема работы
              a(href="#") партнерам
              a(href="#") награды
        .header__item
          a(href="#") технологии
          .header__drop
            .header__drop-container
              a(href="#") каркасные дома
              a(href="#") дом тн
              a(href="#") энергоэффективность
              a(href="#") материалы
        .header__item
          a(href="/nashy-doma-tipovye.html") наши дома
          .header__drop
            .header__drop-container
              a(href="/nashy-doma-tipovye.html") Типовые проекты
              a(href="/nashy-doma-stroy.html") строящиеся дома
              a(href="/nashy-doma-gotovye.html") готовые дома
        .header__item
          a(href="podryadchiki_catalog.html") подрядчики
          .header__drop
            .header__drop-container
              a(href="/podryadchiki_catalog.html") каталог
              a(href="#") сертификация
              a(href="#") стать подрядчиком
              a(href="#") личный кабинет
        .header__item
          a(href="/blog-all.html") блог
          .header__drop
            .header__drop-container
              a(href="#") сми о нас
              a(href="#") полезные статьи
              a(href="#") faq
              a(href="#") видео
        .header__item
          a(href="/contacts.html") контакты
        .header__item
          a.phone(href="#") 8 800 100 16 31
      a.header__tehno(href="#")
        img(src="img/tehnonikol.svg", alt="")
      .hamburger.hamburger--slider(js-hamburger)
        .hamburger-box
          .hamburger-inner

// HEADER :: END