---
title: DOM Technonicol
---
extends shared/_layout
block content

  // BEGIN SECTION :: head
  .head
    .container.container--typical
      h2 О нас

  // END SECTION :: head

  // BEGIN SECTION :: about
  section.about
    .container
      p.about__title Что же такое ДОМ ТЕХНОНИКОЛЬ?
      p 
        span ДОМ ТЕХНОНИКОЛЬ  
        | – это спецпроект производственной компании 
        span ТЕХНОНИКОЛЬ, 
        | объединяющий  в себе уникальные материалы, лучшие технологии и опыт ведущих специалистов.
      p На сегодняшний день 
        span ДОМ ТЕХНОНИКОЛЬ  
        | является вершиной производственной эволюции компании, проделавшей огромный путь от производства материалов до создания современных энегроэффективных домов.
      .about__image-container
        img(src="img/about-object.svg", alt="")
      p Мы не выдумывали велосипед, а взяли лучшие мировые технологии каркасного домостроения, с одной стороны, как наиболее перспективного направления деревянного домостроения, с другой - как технологию имеющую подтвержденную мировую историю долголетия эксплуатации, насчитывающее не одно столетие. Совместно с ведущими экспертами отрасли разработали стандарты строительства энергоэффективных каркасных домов, учитывающие мельчайшие подробности.
      p Лучшие подрядные организации малоэтажного домостроения, прошедшие обучение и получившие сертификат 
        span ДОМ ТЕХНОНИКОЛЬ,  
        | который подтверждает уровень компетенции, помогут воплотить в жизнь все ваши мечты о собственном доме.
      p.about__bold ДОМ ТЕХНОНИКОЛЬ – это сумма технологий современного комфортного дома.
  section.about.about--tech
    .container
      .about__logotype
        img(src="img/tehnonikol.svg", alt="")
      p Компания 
        span ТЕХНОНИКОЛЬ 
        |  сегодня - это 53 производственные площадки в 7 странах мира (Россия, Беларусь, Литва, Чехия, Италия, Великобритания, Германия), 22 представительства в 18 странах мира, 18 Учебных центров, 6 Научных центров, укомплектованных высокотехнологичным оборудованием и квалифицированным персоналом. В центрах ведется регулярная разработка и внедрение новых продуктов и решений для строительной отрасли. Продукция компании поставляется в 95 государств.
      .about__link
        a(href="#") Перейти на сайт компании >
    .about__carousel(js-steps-slider)
      .about__carousel-item
        .about__carousel-image
          img(src="img/about-slide-1.jpg", alt="")
      .about__carousel-item
        .about__carousel-image
          img(src="img/about-slide-2.jpg", alt="")
      .about__carousel-item
        .about__carousel-image
          img(src="img/about-slide-3.jpg", alt="")
      .about__carousel-item
        .about__carousel-image
          img(src="img/about-slide-4.jpg", alt="")


  // END SECTION :: about