---
title: DOM Technonicol
---
extends shared/_layout
block content

  // BEGIN SECTION :: head
  .head
    .container.container--typical
      h2 Блог

  // END SECTION :: head

  // BEGIN SECTION :: blog
  section.blog--page
    .container
      .blog--page__slider
        .blog--page__item
          .blog--page__item-container
            .blog--page__image
              img(src="img/blog-1.jpg", alt="")
            .blog--page__info
              a.blog--page__i-title(href="#") ТЕХНОНИКОЛЬ формирует «стандарты красоты» в частном домостроении
              .blog--page__about
                p ТЕХНОНИКОЛЬ создает импульс для развития архитектурного разнообразия в России.
              a.btn(href="#") Читать далее
                span
        .blog--page__item
          .blog--page__item-container
            .blog--page__image
              img(src="img/blog-2.jpg", alt="")
            .blog--page__info
              a.blog--page__i-title(href="#")  ДОМ ТЕХНОНИКОЛЬ открыл свои двери для  журналистов ДОМ ТЕХНОНИКОЛЬ открыл свои двери для  журналистов
              .blog--page__about
                p Журналисты посетили коттедж, построенный по стандартам ДОМ ТЕХНОНИКОЛЬ в деревне. Журналисты посетили коттедж, построенный по стандартам ДОМ ТЕХНОНИКОЛЬ в деревне.
              a.btn(href="#") Читать далее
              span
        .blog--page__item
          .blog--page__item-container
            .blog--page__image
              img(src="img/blog-3.jpg", alt="")
            .blog--page__info
              p.blog--page__i-title Формирует «стандарты красоты» в частном домостроении
              .blog--page__about
                p Российский архитектурный салон». Журналисты посетили коттедж в деревне Ходаево.
              a.btn(href="#") Читать далее
                span
        .blog--page__item
          .blog--page__item-container
            .blog--page__image
              img(src="img/blog-1.jpg", alt="")
            .blog--page__info
              a.blog--page__i-title(href="#") ТЕХНОНИКОЛЬ формирует «стандарты красоты» в частном домостроении
              .blog--page__about
                p ТЕХНОНИКОЛЬ создает импульс для развития архитектурного разнообразия в России.
              a.btn(href="#") Читать далее
                span
        .blog--page__item
          .blog--page__item-container
            .blog--page__image
              img(src="img/blog-2.jpg", alt="")
            .blog--page__info
              a.blog--page__i-title(href="#")  ДОМ ТЕХНОНИКОЛЬ открыл свои двери для  журналистов ДОМ ТЕХНОНИКОЛЬ открыл свои двери для  журналистов
              .blog--page__about
                p Журналисты посетили коттедж, построенный по стандартам ДОМ ТЕХНОНИКОЛЬ в деревне. Журналисты посетили коттедж, построенный по стандартам ДОМ ТЕХНОНИКОЛЬ в деревне.
              a.btn(href="#") Читать далее
              span
        .blog--page__item
          .blog--page__item-container
            .blog--page__image
              img(src="img/blog-3.jpg", alt="")
            .blog--page__info
              p.blog--page__i-title Формирует «стандарты красоты» в частном домостроении
              .blog--page__about
                p Российский архитектурный салон». Журналисты посетили коттедж в деревне Ходаево.
              a.btn(href="#") Читать далее
                span
        .blog--page__item
          .blog--page__item-container
            .blog--page__image
              img(src="img/blog-1.jpg", alt="")
            .blog--page__info
              a.blog--page__i-title(href="#") ТЕХНОНИКОЛЬ формирует «стандарты красоты» в частном домостроении
              .blog--page__about
                p ТЕХНОНИКОЛЬ создает импульс для развития архитектурного разнообразия в России.
              a.btn(href="#") Читать далее
                span
        .blog--page__item
          .blog--page__item-container
            .blog--page__image
              img(src="img/blog-2.jpg", alt="")
            .blog--page__info
              a.blog--page__i-title(href="#")  ДОМ ТЕХНОНИКОЛЬ открыл свои двери для  журналистов ДОМ ТЕХНОНИКОЛЬ открыл свои двери для  журналистов
              .blog--page__about
                p Журналисты посетили коттедж, построенный по стандартам ДОМ ТЕХНОНИКОЛЬ в деревне. Журналисты посетили коттедж, построенный по стандартам ДОМ ТЕХНОНИКОЛЬ в деревне.
              a.btn(href="#") Читать далее
              span
        .blog--page__item
          .blog--page__item-container
            .blog--page__image
              img(src="img/blog-3.jpg", alt="")
            .blog--page__info
              p.blog--page__i-title Формирует «стандарты красоты» в частном домостроении
              .blog--page__about
                p Российский архитектурный салон». Журналисты посетили коттедж в деревне Ходаево.
              a.btn(href="#") Читать далее
      .pagination
        a.prev(href="#")
          span.arrow
          span.info предыдущая
        .pagination__list
          a.pagination__item.is-active(href="#") 1
          a.pagination__item(href="#") 2
          a.pagination__item(href="#") 3
          a.pagination__item(href="#") 4
          a.pagination__item(href="#") 5
          a.pagination__item(href="#") ...
          a.pagination__item(href="#") 10
        a.next(href="#")
          span.info следующая
          span.arrow
                  
  // END SECTION :: blog