---
title: DOM Technonicol
---
extends shared/_layout
block content

  // BEGIN SECTION :: head
  .head.head--blog-item
    .container.container--large
      p.head__date 02.09.2018
      h2 В чем преимущество технологии строительства ДОМа ТЕХНОНИКОЛЬ?
      .head__buttons
        a.prev(href="#") 
          span.arrow
          span.info Все статьи
        a.next(href="#")
          span.info Следующая статья
          span.arrow

  // END SECTION :: head

  // BEGIN SECTION :: blog-item
  section.blog-item
    .container.container--large
      img(src="img/blog-item-image.jpg", alt="")
      .blog-item__info
        p Корпорации ТЕХНОНИКОЛЬ разработала собственную технологию малоэтажного строительства ДОМ ТЕХНИКОЛЬ. В основу был заложен опыт российских инженеров и адаптированные под местные условия лучшие зарубежные решения. В итоге получилась универсальная система, позволяющая построить дом любой планировки. Дома, возведенные по технологии строительства ДОМ ТЕХНОНИКОЛЬ, завоевали первые места на конкурсах проектов энергоэффективных решений в 2015-2017 годах.
        p Каркас дома с крышей возводится методом монтажа PLATFORM очень быстро, в недельный срок. Сначала производится гидроизоляция кровли, затем - теплоизоляция всего дома.
        p Фундамент дома может быть выполнен по двум технологиям.
        p 1. Утепленная шведская плита – железобетонный фундамент с герметичным контуром, выполненным из плит утеплителя CARBON, изготовленных из вспененного пенополистирола. Это высокопрочный химически стойкий гидроизоляционный материал, не набухающий, и не дающий усадки. Бетонный массив плиты играет роль аккумулятора тепла, поглощая его излишки летом и отдавая зимой – так достигается комфортный климат, подобно кирпичным домам. Зимой, благодаря системе теплого пола, железобетонная плита выступает в роли радиатора, равномерно прогревая воздух в помещении.
        p 2. В сложных геологических условиях использование утепленной шведской плиты может быть невозможным. В этом случае применяется аналогичная по стоимости технология возведения свайно-винтового фундамента. Свайно-винтовой фундамент может быть применен практически на любом грунте. Его использование обеспечивает высокий уровень пола первого этажа. Для такого фундамента система строительства ДОМ ТЕХНОНИКОЛЬ предусматривает толщину утепления цокольного перекрытия в 300 мм. Отмостка выполняется отсыпкой гравия или галки по водоотводу, выполненного мембраной Planter, – это самое экономичное решение и выглядит эстетично.
        p Стены дома представляют собой каркас, облицованный сайдингом. Кроме сайдинга возможна любая отделка экстерьера: блок-хаус, штукатурка, клинкерная плитка, кирпичная кладка, битумная фасадная плитка HAUBERK. Разнообразие вариантов дает возможность сделать дом в любом архитектурном стиле или создать собственный.

  // END SECTION :: blog-item

  // BEGIN SECTION :: parts
  section.b-parts
    .container
      .b-parts__grid
        .b-parts__image
          img(src="img/parts.png", alt="")
        .b-parts__info
          p.b-parts__title Система ТН-ШИНГЛАС Мансарда
            .b-parts__list
              p Контур утепления – 300 мм.
              p Терморазрыв по древесине выполнен высокопрочным утеплителем CARBON и перекрестным каркасом.
              p Вентиляционный зазор совместно с мембраной Tyvek® Housewrap ТехноНИКОЛЬ обеспечивает долговечность конструкции.
              p Гипсокартон на независимом стальном каркасе обеспечивает идеально ровные стены.
              p Специальная ниша между гипсокартоном и пароизоляцией, предназначенная для прокладки коммуникаций, гарантирует сохранность пароизоляции в процессе эксплуатации дома.

  // END SECTION :: parts

    // BEGIN SECTION :: blog-item
  section.blog-item
    .container.container--large
      .blog-item__info
        p Технологии пассивного дома предусматривают максимальное эффективное использование доступных ресурсов. Поэтому для получения максимального естественного освещения ДОМ ТЕХНОНИКОЛЬ ориентирован по сторонам света. Такой подход позволяет более эффективно расходовать электроэнергию в течение дня и таким образом существенно снизить расходы. В самих окнах используют энергосберегающие пятикамерные стеклопакеты толщиной 76-80 мм. С помощью системы раздвижных панорамных и мансардных окон помещения всех этажей получают комфортное количество естественного света.
        p Вентиляция. В базовой комплектации в проекте предусмотрена естественная система вентиляции, в таком исполнении дом экономит до 50 % на отоплении. При необходимости можно установить механическую вентиляционную установку с рекуператором тепла, что даст еще примерно 20% экономии тепла. 
        p Энергоэффективный «ДОМ ТЕХНОНИКОЛЬ» даже с естественной системой вентиляции сокращает затраты на отопление в 2 раза. Применение механической системы вентиляции с рекуперацией тепла позволяет достичь 70% экономии.
        p Отопление. Первый этаж отапливается только с помощью теплого пола, уложенного в фундаменте. Такой вариант отопления возможен только в хорошо утепленных домах, с полностью герметичной оболочкой. На втором этаже сделана радиаторная разводка.
        p Подробнее ознакомиться с проектами можно на сайте проекта.
        p Внимательно ознакомившись с технологиями строительства, сразу понимаешь, что ДОМ ТЕХНОНИКОЛЬ – это современный комфортный доступный энергоэффективный дом мечты. 
        p 

  // END SECTION :: blog-item

  // BEGIN SECTION :: photo-gallery
  section.photogallery
    .container.container--typical
      h2.photogallery__title Фотогалерея
      .photogallery__grid
        a.photogallery__item.no-barba(href="img/gal-1.jpg" js-open-gallery data-effect="mfp-zoom-in")
          img(src="img/gal-1.jpg")
        a.photogallery__item.no-barba(href="img/gal-2.jpg" js-open-gallery data-effect="mfp-zoom-in")
          img(src="img/gal-2.jpg")
        a.photogallery__item.no-barba(href="img/gal-3.jpg" js-open-gallery data-effect="mfp-zoom-in")
          img(src="img/gal-3.jpg")
        a.photogallery__item.no-barba(href="img/gal-4.jpg" js-open-gallery data-effect="mfp-zoom-in")
          img(src="img/gal-4.jpg")
        a.photogallery__item.no-barba(href="img/gal-5.jpg" js-open-gallery data-effect="mfp-zoom-in")
          img(src="img/gal-5.jpg")
        a.photogallery__item.no-barba(href="img/gal-6.jpg" js-open-gallery data-effect="mfp-zoom-in")
          img(src="img/gal-6.jpg")
        a.photogallery__item.no-barba(href="img/gal-7.jpg" js-open-gallery data-effect="mfp-zoom-in")
          img(src="img/gal-7.jpg")
        a.photogallery__item.no-barba(href="img/gal-8.jpg" js-open-gallery data-effect="mfp-zoom-in")
          img(src="img/gal-8.jpg")
        a.photogallery__item.no-barba(href="img/gal-9.jpg" js-open-gallery data-effect="mfp-zoom-in")
          img(src="img/gal-9.jpg")
	
  // END SECTION :: photo-gallery