---
title: DOM Technonicol
---
extends shared/_layout
block content

  // BEGIN SECTION :: firstscreen
  section(data-section='0')
    .firstscreen
      .container
        h1(data-aos='fade-up') The First Digital Party Logistics Provider
        p(data-aos='fade-up') SaaS driven business delivered to you by the team of logistics experts
  
  // END SECTION :: firstscreen