---
title: DOM Technonicol
---
extends shared/_layout
block content

  // BEGIN SECTION :: head
  .head
    .container.container--large
      h2 Проект дома OPEN VILLAGE
      .head__buttons
        a.prev(href="#") 
          span.arrow
          span.info Все проекты

  // END SECTION :: head

  // BEGIN SECTION :: general
  section.general
    .container.container--large
      .general__grid
        .general__left
          .general__slider(js-g-slider)
            .general__item
              .general__item-container
                img(src="img/of-slide-1.jpg", alt="")
            .general__item
              .general__item-container
                img(src="img/gal-1.jpg", alt="")
            .general__item
              .general__item-container
                img(src="img/gal-2.jpg", alt="")
            .general__item
              .general__item-container
                img(src="img/gal-3.jpg", alt="")
            .general__item
              .general__item-container
                img(src="img/gal-4.jpg", alt="")
            .general__item
              .general__item-container
                img(src="img/gal-5.jpg", alt="")
          .general__preview-slider(js-g-preview-slider)
            .general__preview-item
              .general__preview-item-container
                img(src="img/of-slide-1.jpg", alt="")
            .general__preview-item
              .general__preview-item-container
                img(src="img/gal-1.jpg", alt="")
            .general__preview-item
              .general__preview-item-container
                img(src="img/gal-2.jpg", alt="")
            .general__preview-item
              .general__preview-item-container
                img(src="img/gal-3.jpg", alt="")
            .general__preview-item
              .general__preview-item-container
                img(src="img/gal-4.jpg", alt="")
            .general__preview-item
              .general__preview-item-container
                img(src="img/gal-5.jpg", alt="")

        .general__right
          p.general__title Основные характеристики
          .general__row
            p Общая площадь, м2
            p.bold 186
          .general__row
            p Срок строительства
            p.bold от 2 месяцев
          .general__row
            p Фундамент
            p.bold утеплённая шведская плита с контуром тёплого пола и колектором
          .general__row
            p Внешняя отделка
            .general__view
              a.general__view-item.is-active(href="#" js-general-view-btn)
                .general__view-image
                  img(src="img/g-view-1.jpg", alt="")
                p hauberG
              a.general__view-item(href="#" js-general-view-btn)
                .general__view-image
                  img(src="img/g-view-2.jpg", alt="")
                p Имитация бруса
              a.general__view-item(href="#" js-general-view-btn)
                .general__view-image
                  img(src="img/g-view-3.jpg", alt="")
                p Сайдинг
              a.general__view-item(href="#" js-general-view-btn)
                .general__view-image
                  img(src="img/g-view-4.jpg", alt="")
                p Штукатурка
              a.general__view-item(href="#" js-general-view-btn)
                .general__view-image
                  img(src="img/g-view-5.jpg", alt="")
                p Кирпичная кладка
          .general__row.general__row--price
            p Стоимость строительства:
            p.price от 1 500 000 р
          a.btn(href="#") заказать консультацию

  // END SECTION :: general

  // BEGIN SECTION :: g-plans
  section.g-plans
    .container.container--large
      h2.g-plans__title Планировки
      .g-plans__grid
        .g-plans__item
          p.g-plans__info
            span 1 этаж
            span.line |
            | 110 м²
          .g-plans__image
            a.no-barba(href="img/plan-1.jpg" js-popup-image data-effect="mfp-zoom-in")
              img(src="img/plan-1.jpg", alt="")
        .g-plans__item
          p.g-plans__info
            span 2 этаж
            span.line |
            | 102 м²
          .g-plans__image
            a.no-barba(href="img/plan-2.jpg" js-popup-image data-effect="mfp-zoom-in")
              img(src="img/plan-2.jpg", alt="")
  // END SECTION :: g-plans

  // BEGIN SECTION :: g-complectation
  section.g-complectation
    .container.container--large
      h2.g-plans__title Комплектация
      .container.container--typical
        .g-complectation__head
          a.g-complectation__item.is-active(href="#" js-open-g-tab)
            p.g-name Базовая комплектация
            p.g-price от 2 400 000 Р
            p.g-time 2,5 месяца
          a.g-complectation__item(href="#" js-open-g-tab)
            p.g-name С черновой отделкой
            p.g-price от 2 464 000 Р
            p.g-time 3 месяца
          a.g-complectation__item(href="#" js-open-g-tab)
            p.g-name Дом «под ключ»
            p.g-price от 2 688 000 Р
            p.g-time 4,5 месяца
        .g-complectation__info
          .g-complectation__tab.is-active
            .g-complectation__tab-container
              .g-complectation__column.is-open
                a.g-title(href="#" js-open-info) Фундамент #1
                .g-complectation__toggle
                  p Утеплённая шведская плита с контуром тёплого пола и коллекторам;
                  p Закладные под ввод водоснабжения и электроснабжения дома под фундаментом;
                  p Канализационные отводы от стояков под плитой фундамента;
                  p Дренажная система по периметру дома и отводом в коллектор;
                  p Ливневая система канализации дождевой воды вокруг дома с отводом в коллектор;
                  p Утепленная отмостка с водоотводящим слоем из мембраны Planter;
                  p Утепленный цоколь с отделкой фасадными панелями.
              .g-complectation__column
                a.g-title(href="#" js-open-info) Стены
                .g-complectation__toggle
                  p Перекрестный каркас внешних стен с толщиной утепления 250мм каменной ватой ТЕХНО ЛАЙТ ОПТИМА
                  p Внешняя защита каркаса диффузионной пленкой Tyvek ТЕХНОНИКОЛЬ
                  p Внутренняя защита каркаса усиленной пароизоляцией ТЕХНОНИКОЛЬ
                  p Внешняя отделка фасада виниловым сайдингом/ штукатурка/декоративный кирпич
                  p Энергоэффективные окна Deceuninck с толщиной профиля 76мм
                  p Перекрестное утепление крыша толщиной 300мм каменной ватой ТЕХНО ЛАЙТ ОПТИМА
                  p.g-light Шпаклевка гипсокартон
                  p.g-light Поклейка обоев на стены
                  p.g-light Покраска потолков
              .g-complectation__column
                a.g-title(href="#" js-open-info) Кровля, полы, перекрытия
                .g-complectation__toggle
                  p Перекрытие из досок 200х50 с шагом 40см, с шумоизоляцией ТЕХНО АКУСТИК 100мм
                  p Черновой настил перекрытия ОСП 18мм по и акустическому герметику
                  p Кровельное покрытие из многослойной черепицы SHINGLAS
                  p Подшивка кровельных свесов виниловыми софитами
                  p.g-light Водосточная система ТЕХНОНИКОЛЬ
                  p.g-light Укладка напольных покрытий (плитка /ламинат)
                  p.g-light Монтаж плинтуса
              .g-complectation__column
                a.g-title(href="#" js-open-info) Прочее
                .g-complectation__toggle
                  p Деревянная лестница в доме из клееных щитов лиственницы покрытая лаком
                  p Крыльцо и веранда у дома
                  p Входная дверь из профиля Deceuninck
                  p Скрытая разводка труб водоснабжения из сшитого полиэтилена по потребителям.
                  p.g-light Черновая обшивка стен гипсокартоном по стальному каркасу
                  p.g-light Монтаж межкомнатных дверей
          .g-complectation__tab
            .g-complectation__tab-container
              .g-complectation__column
                a.g-title(href="#" js-open-info) Фундамент #2
                .g-complectation__toggle
                  p Утеплённая шведская плита с контуром тёплого пола и коллекторам;
                  p Закладные под ввод водоснабжения и электроснабжения дома под фундаментом;
                  p Канализационные отводы от стояков под плитой фундамента;
                  p Дренажная система по периметру дома и отводом в коллектор;
                  p Ливневая система канализации дождевой воды вокруг дома с отводом в коллектор;
                  p Утепленная отмостка с водоотводящим слоем из мембраны Planter;
                  p Утепленный цоколь с отделкой фасадными панелями.
              .g-complectation__column
                a.g-title(href="#" js-open-info) Стены
                .g-complectation__toggle
                  p Перекрестный каркас внешних стен с толщиной утепления 250мм каменной ватой ТЕХНО ЛАЙТ ОПТИМА
                  p Внешняя защита каркаса диффузионной пленкой Tyvek ТЕХНОНИКОЛЬ
                  p Внутренняя защита каркаса усиленной пароизоляцией ТЕХНОНИКОЛЬ
                  p Внешняя отделка фасада виниловым сайдингом/ штукатурка/декоративный кирпич
                  p Энергоэффективные окна Deceuninck с толщиной профиля 76мм
                  p Перекрестное утепление крыша толщиной 300мм каменной ватой ТЕХНО ЛАЙТ ОПТИМА
                  p.g-light Шпаклевка гипсокартон
                  p.g-light Поклейка обоев на стены
                  p.g-light Покраска потолков
              .g-complectation__column
                a.g-title(href="#" js-open-info) Кровля, полы, перекрытия
                .g-complectation__toggle
                  p Перекрытие из досок 200х50 с шагом 40см, с шумоизоляцией ТЕХНО АКУСТИК 100мм
                  p Черновой настил перекрытия ОСП 18мм по и акустическому герметику
                  p Кровельное покрытие из многослойной черепицы SHINGLAS
                  p Подшивка кровельных свесов виниловыми софитами
                  p.g-light Водосточная система ТЕХНОНИКОЛЬ
                  p.g-light Укладка напольных покрытий (плитка /ламинат)
                  p.g-light Монтаж плинтуса
              .g-complectation__column
                a.g-title(href="#" js-open-info) Прочее
                .g-complectation__toggle
                  p Деревянная лестница в доме из клееных щитов лиственницы покрытая лаком
                  p Крыльцо и веранда у дома
                  p Входная дверь из профиля Deceuninck
                  p Скрытая разводка труб водоснабжения из сшитого полиэтилена по потребителям.
                  p.g-light Черновая обшивка стен гипсокартоном по стальному каркасу
                  p.g-light Монтаж межкомнатных дверей
          .g-complectation__tab
            .g-complectation__tab-container
              .g-complectation__column
                a.g-title(href="#" js-open-info) Фундамент #3
                .g-complectation__toggle
                  p Утеплённая шведская плита с контуром тёплого пола и коллекторам;
                  p Закладные под ввод водоснабжения и электроснабжения дома под фундаментом;
                  p Канализационные отводы от стояков под плитой фундамента;
                  p Дренажная система по периметру дома и отводом в коллектор;
                  p Ливневая система канализации дождевой воды вокруг дома с отводом в коллектор;
                  p Утепленная отмостка с водоотводящим слоем из мембраны Planter;
                  p Утепленный цоколь с отделкой фасадными панелями.
              .g-complectation__column
                a.g-title(href="#" js-open-info) Стены
                .g-complectation__toggle
                  p Перекрестный каркас внешних стен с толщиной утепления 250мм каменной ватой ТЕХНО ЛАЙТ ОПТИМА
                  p Внешняя защита каркаса диффузионной пленкой Tyvek ТЕХНОНИКОЛЬ
                  p Внутренняя защита каркаса усиленной пароизоляцией ТЕХНОНИКОЛЬ
                  p Внешняя отделка фасада виниловым сайдингом/ штукатурка/декоративный кирпич
                  p Энергоэффективные окна Deceuninck с толщиной профиля 76мм
                  p Перекрестное утепление крыша толщиной 300мм каменной ватой ТЕХНО ЛАЙТ ОПТИМА
                  p.g-light Шпаклевка гипсокартон
                  p.g-light Поклейка обоев на стены
                  p.g-light Покраска потолков
              .g-complectation__column
                a.g-title(href="#" js-open-info) Кровля, полы, перекрытия
                .g-complectation__toggle
                  p Перекрытие из досок 200х50 с шагом 40см, с шумоизоляцией ТЕХНО АКУСТИК 100мм
                  p Черновой настил перекрытия ОСП 18мм по и акустическому герметику
                  p Кровельное покрытие из многослойной черепицы SHINGLAS
                  p Подшивка кровельных свесов виниловыми софитами
                  p.g-light Водосточная система ТЕХНОНИКОЛЬ
                  p.g-light Укладка напольных покрытий (плитка /ламинат)
                  p.g-light Монтаж плинтуса
              .g-complectation__column
                a.g-title(href="#" js-open-info) Прочее
                .g-complectation__toggle
                  p Деревянная лестница в доме из клееных щитов лиственницы покрытая лаком
                  p Крыльцо и веранда у дома
                  p Входная дверь из профиля Deceuninck
                  p Скрытая разводка труб водоснабжения из сшитого полиэтилена по потребителям.
                  p.g-light Черновая обшивка стен гипсокартоном по стальному каркасу
                  p.g-light Монтаж межкомнатных дверей


  // END SECTION :: g-complectation

  // BEGIN SECTION :: g-offer
  section.g-offer
    .container.container--large
      h2.g-plans__title Предложения подрядчиков
      .g-offer__slider(js-offer-slider)
        .g-offer__item
          .g-offer__item-container
            a.g-offer__star(href="#") 
              img(src="img/star.svg", alt="")
              span 8,5
            .g-offer__image
              img(src="img/g-offer-1.jpg", alt="")
            p.g-offer__price от 2 464 000 Р
            a.g-offer__detail подробнее о подрядчике
            a.g-offer__button отправить запрос
        .g-offer__item
          .g-offer__item-container
            a.g-offer__star(href="#") 
              img(src="img/star.svg", alt="")
              span 9,5
            .g-offer__image
              img(src="img/g-offer-2.jpg", alt="")
            p.g-offer__price от 2 580 000 Р
            a.g-offer__detail подробнее о подрядчике
            a.g-offer__button отправить запрос
        .g-offer__item
          .g-offer__item-container
            a.g-offer__star(href="#") 
              img(src="img/star.svg", alt="")
              span 4,5
            .g-offer__image
              img(src="img/g-offer-3.jpg", alt="")
            p.g-offer__price от 2 620 000 Р
            a.g-offer__detail подробнее о подрядчике
            a.g-offer__button отправить запрос
        .g-offer__item
          .g-offer__item-container
            a.g-offer__star(href="#") 
              img(src="img/star.svg", alt="")
              span 8,5
            .g-offer__image
              img(src="img/g-offer-4.jpg", alt="")
            p.g-offer__price от 2 580 000 Р
            a.g-offer__detail подробнее о подрядчике
            a.g-offer__button отправить запрос
        .g-offer__item
          .g-offer__item-container
            a.g-offer__star(href="#") 
              img(src="img/star.svg", alt="")
              span 10
            .g-offer__image
              img(src="img/g-offer-2.jpg", alt="")
            p.g-offer__price от 2 580 000 Р
            a.g-offer__detail подробнее о подрядчике
            a.g-offer__button отправить запрос


  // END SECTION :: g-offer

  // BEGIN SECTION :: g-calc
  section.g-calc
    .container.container--typical
      .g-calc__grid
        p Вы всегда можете рассчитать дом  по своим личным параметрам на нашем калькуляторе
        a.btn(href="#") рассчитать стоимость
  // END SECTION :: g-calc

  // BEGIN SECTION :: g-individual
  section.g-individual
    .container.container--typical
      img(src="img/individual.png", alt="")
      p.g-individual__title Индивидуальный проект
      form(action="#")
        p.g-individual__desc Также мы можем выполнить индивидуальный проект с учетом ваших пожеланий. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        .input-container
          input(type="text" placeholder="Имя")
        .input-container
          input(type="text" placeholder="Эл. почта")
        .input-container
          input(type="text" placeholder="Телефон")
        p.g-individual__personal Отправляя форму даю согласие на обработку 
          a(href="#") персональных данных
        .input-container
          input.btn(type="submit", value="ОТПРАВИТЬ")

  // END SECTION :: g-individual