.head
  background: #f0f0f0
  padding: 75px 0 30px
  h2
    text-align: left
    font-size: 50px
    color: $fontColor
    font-family: $bold

+r($desktop1068)
  .head
    h2
      font-size: 36px

+r($tablet)
  .head
    padding: 30px 0 20px
    h2
      font-size: 26px
      text-align: center
      width: 100%