.projects
  padding: 103px 0 105px
  background: #f4f4f4
  position: relative
  &--typical
    padding: 30px 0 78px
    text-align: center
  .container
    max-width: 1200px
    &--typical
      max-width: 1074px
  &__pattern
    max-width: 900px
    position: absolute
    bottom: 20px
    right: -450px
    width: 70%
    height: auto
    z-index: 1
  &__title
    font-size: 48px
    color: $fontColor
    line-height: 1
    font-family: $medium
    letter-spacing: 0.2px
    width: 100%
    text-align: left
  &__grid
    display: flex
    justify-content: center
    flex-wrap: wrap
    position: relative
    z-index: 3
    padding: 0 40px
    margin-top: 71px
    &--typical
      margin-top: 0
      padding: 0
      margin: 0 -10px
      width: calc(100% + 20px)
      .projects__item
        margin: 15px 3px
      .projects__line
        margin-top: 10px
        margin-bottom: 11px
      .projects__kv
        margin-left: 15px
  &__item
    // min-width: 320px
    width: 100%
    max-width: 320px
    margin: 0 auto
  &__item-slider
    padding: 0 5px
    text-align: center
  &__image
    max-width: 320px
    max-height: 250px
    overflow: hidden
    min-height: 250px
    overflow: hidden
    position: relative
    img
      position: absolute
      left: 0
      top: 0
      right: 0
      bottom: 0
      margin: auto
      min-height: 320px
      height: 320px
      width: auto
      margin-bottom: -5px
  .slick-track
    font-size: 0
  .slick-dots
    position: absolute
    margin: 0 auto
    bottom: 12px
    left: 50%
    transform: translateX(-50%)
    line-height: 0
    height: auto
    font-size: 0
    padding: 0
    li
      margin: 0 5px
      &.slick-active
        button
          background: #ff1007
    button
      font-size: 0
      padding: 0
      margin: 0
      line-height: 0
      background: #ffffff
      width: 7px
      height: 7px
      border-radius: 50%
      border: none
      transition: all $transitionSpeed $ease
      cursor: pointer
  &__slider
    position: relative
    z-index: 2
  &__info
    border: 1px solid #bbbbbb
    margin-top: -1px
    position: relative
    z-index: 1
    padding: 20px 30px 15px
    background: #f4f4f4
  &__row
    display: flex
    justify-content: space-between
    &--typical
      justify-content: flex-end

  &__name
    padding-right: 15px
    font-size: 18px
    text-transform: uppercase
    font-family: $extrabold
    color: $fontColor
  &__kv
    font-size: 16px
    font-family: $medium
    width: auto
    text-align: right
    display: flex
    align-items: flex-start
    img
      height: 16px
      width: auto
      margin-right: 5px
  &__city
    font-size: 14px
    color: $fontColor
    line-height: 1.2
    display: flex
    align-items: flex-start
    img
      height: 18px
      width: auto
      margin-right: 8px
      margin-top: -3px
    span
      font-size: 14px
      color: $fontColor
      line-height: 1.2
  &__house
    margin-right: auto
    font-size: 0
    display: flex
    align-items: center
    justify-content: flex-start
    img
      height: 20px
      width: auto
      margin-right: 8px
      margin-bottom: -2px
  &__line
    margin: 13px -30px 17px
    width: calc(100% + 60px)
    height: 1px
    display: block
    background: #bbbbbb
  &__time
    font-size: 14px
    font-family: $regular
  &__price
    font-size: 16px
    font-family: $medium
    color: $hoverRed
  &__button
    text-align: center
    width: 100%
    position: relative
    z-index: 2
    .btn
      font-size: 14px
      display: inline-block
      margin: 71px auto 0
      max-width: 300px
      width: 100%
      text-align: center
  .slick-arrow
    position: absolute
    width: 50px
    height: 50px
    background: rgba($fontColor, 0.3)
    transition: all $transitionSpeed $ease
    top: 50%
    transform: translateY(-50%)
    border: none
    font-size: 0
    color: transparent
    cursor: pointer
    &:hover
      background: rgba($fontColor, 0.7)
    &.slick-prev
      left: -30px
      &:before
        border-top: none
        border-right: none
        left: 57%
    &.slick-next
      right: -30px
      &:before
        border-bottom: none
        border-left: none
        left: 43%
    &:before
      display: block
      position: absolute
      content: ''
      width: 15px
      height: 15px
      border: 2px solid #fff
      transform: translate(-50%, -50%) rotate(45deg)
      top: 50%
      left: 50%
  &__more
    font-size: 14px
    max-width: 300px
    width: 100%
    margin: 30px auto 0
    padding: 15px 45px 15px 25px
    background: transparent
    color: #343634
    border: 1px solid #343634
    position: relative
    min-height: 50px
    overflow: hidden
    text-transform: uppercase
    transition: all $transitionSpeed $ease
    display: inline-block
    line-height: normal
    &:after
      position: absolute
      display: block
      content: ''
      width: 8px
      height: 8px
      border: 2px solid #343634
      transform: translateY(-65%) rotate(45deg)
      top: 45%
      right: 25px
      border-left: none
      border-top: none
      transition: all $transitionSpeed $ease
    &:hover
      background: #343634
      color: #fff
      &:after
        border-color: #fff
    &.is-active
      &:after
        transform: translateY(-35%) rotate(-135deg)
  .pagination
    margin-top: 33px


+r($desktop1068)
  .projects
    &__title
      margin-left: 0
      font-size: 36px
      // max-width: 400px

+r($tablet)
  .projects
    padding: 30px 0
    &--typical
    padding: 30px 0
    &__grid
      padding-top: 0
      max-width: 320px
      margin: 25px auto 50px
      padding: 0
      &--typical
        margin-top: 0
      &--editable
        margin-bottom: 0
      & > .slick-dots
        bottom: -43px
        auto: auto
    &__button
      .btn
        margin-top: 30px
        line-height: 1
        padding: 21px 30px
        max-width: 310px
    &__title
      font-size: 24px
      text-align: left
      font-weight: 600
      max-width: 100%
    .slick-arrow
      // top: -50px
      top: auto
      bottom: -56px
      transform: translateY(0)
      width: 35px
      height: 35px
      &:before
        width: 10px
        height: 10px
      &.slick-prev
        left: 5px
      &.slick-next
        right: 5px