.awards
  padding: 56px 0 79px
  background: #fff
  &__h-title
    font-size: 48px
    font-family: $medium
    color: $fontColor
  .container
    max-width: 1200px
    padding: 0 100px
  &__image-container
    min-height: 135px
    max-height: 140px
    height: 100%
    display: flex
    align-items: flex-end
    img
      width: 100%
      height: auto
      margin-top: auto
  &__slider-container
    padding-top: 33px
  &__title
    font-size: 14px
    text-transform: uppercase
    font-family: $extrabold
    color: $hoverRed
    margin: 39px 0 20px
    line-height: 1.35
  &__info
    font-size: 14px
    color: $fontColor
    line-height: 1.2
  &__item-content
    max-width: 200px
    padding: 0 2px
    margin: 0 auto 0 0
  
+r($tablet)
  .awards
    padding: 60px 0
    &__h-title
      font-size: 24px
      text-align: left
      width: 100%
      font-weight: 600
      max-width: 100%
    .container
      padding: 0 40px
    .slick-dots
      position: absolute
      margin: 0 auto
      bottom: -20px
      left: 50%
      transform: translateX(-50%)
      line-height: 0
      height: auto
      font-size: 0
      padding: 0
      li
        margin: 0 8px
        &.slick-active
          button
            background: $hoverRed
      button
        font-size: 0
        padding: 0
        margin: 0
        line-height: 0
        background: #e9e9e9
        width: 7px
        height: 7px
        border-radius: 50%
        border: none
        transition: all $transitionSpeed $ease
    &__item-content
      margin: 0 auto
    &__slider-container
      padding-top: 20px
      padding-bottom: 30px

+r($mobile)
  .awards
    padding: 31px 0
    .container
      padding: 0 20px